.clock {
	color: white;
	font-family: 'Press Start 2P', cursive;
	font-size: 36px;
	text-align: center;
	display: flex;
	justify-content: center;
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.container {
	display: flex;
	justify-content: center;
	text-align: center;
}

.quotes {
	color: white;
	margin-left: 42px;
	font-family: 'Press Start 2P', cursive;
	font-size: 26px;
}
